.container{
    display: grid;
    grid-template-areas: 
    "profile icons";
    grid-area: "container";
}

.profile{
    padding-left: 3.5vh;
    padding-top: 1.5vh;
    grid-area: "profile";

}
.profile-image{
    height: 2.5rem;
    width: 2.5rem;
}

.icons{
    display: flex;
    gap: 30px;
    font-size: 3vh;
    color: black;
    padding-left: 10vw;
    padding-top: 2vh;
    grid-area: "icons";
}

.header-right{
    display: grid;
    grid-template-areas: 
    "image name";
    grid-template-columns: 
    1fr 9fr;
}

.header-right-image{
    padding-top: 2vh;
    padding-left: 2vw;
    grid-area: image;
}

.header-name{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: name;
    padding-top: 3.5vh;
}

@media (max-width: 640px){

    .icons{
        padding-top: 3vh;
        padding-left: 30vw;
    }
}